.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-weight: lighter;
    &:hover {
        cursor: pointer;
    }
}

.button.danger {
    background: #FF7C6D;
    &:hover {
        background: orangered;
    }
}
.button.success {
    background: #89FF66;
    &:hover {
        background: green;
    }
}