.Alert {
    width: 50%;
    border-radius: 0 0 5px 5px;
    position: absolute;
    text-align: center;
    padding: 5px;
    top: 0;
    left: 25%;
    z-index: 100;
    animation: alert 1s;
}
.danger {
    background-color: #FF7C6D;
}

.success {
    background-color: #89FF66;
}

@keyframes alert {
    0% {
        left: -25%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 25%;
    }
}

